<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All People</title>
</head>
<body>
<h1>All People</h1>

<div th:if="${peopleList != null and !peopleList.isEmpty()}">
    <div th:each="person : ${peopleList}">
        <h3>ID: <span th:text="${person.id}"></span></h3>
        <p>Name: <strong th:text="${person.fio}"></strong></p>
        <p>Birth Date: <span th:text="${person.birth}"></span></p>

        <a th:href="@{/people/{id}/update(id=${person.id})}"
           style="text-decoration: none; margin-right: 10px;">
            <button type="button">Update</button>
        </a>

        <form th:action="@{/people/{id}/delete(id=${person.id})}" method="post" style="display: inline;">
            <input type="hidden" name="_method" value="DELETE"/>
            <button type="submit">
                Delete
            </button>
        </form>

        <hr>
    </div>
</div>

<div th:if="${peopleList == null or peopleList.isEmpty()}">
    <p>No people found.</p>
</div>
<a th:href="@{/people/create-person}">Add New Person</a>

<a th:href="@{/}">Return to Home</a>

</body>
</html>