<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Person</title>
</head>
<body>
<h1>Update Person</h1>

<form th:action="@{/people/{id}/update(id=${personDto.id})}"
      th:object="${personDto}"
      method="post">

  <input type="hidden" name="_method" value="patch">


  <div>
    <label for="fio">Full Name (FIO):</label>
    <input type="text" id="fio" th:field="*{fio}" required>
  </div>

  <div>
    <label for="birth">Birth Date:</label>
    <input type="date" id="birth" name="birth"
           th:value="${#temporals.format(personDto.birth, 'yyyy-MM-dd')}"
           required>
  </div>

  <div>
    <button type="submit">Update Person</button>
    <a th:href="@{/people/all}">Cancel</a>
  </div>
</form>

</body>
</html>